<ion-view view-title="Ask question">
  <ion-content class="padding">
    <div class="list">
      <a class="item item-avatar" href="#">
        <img src="img/1441712212_andrew.png">
        <h2>{{formInputs.username}}</h2>
        <p>Sample details</p>
      </a>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
          <label class="item item-input item-select">
            <div class="input-label">
              Subject
            </div>
            <select ng-model="formInputs.subject">
              <option selected>Mathematics</option>
              <option>Other</option>
            </select>
          </label>
          <div class="item item-toggle">
            Is public?
            <label class="toggle toggle-dark">
              <input ng-model="formInputs.isPublic" type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>
          <label class="item item-input">
            <input type="text" ng-model="formInputs.questionTitle" placeholder="Question Title">
          </label>
          <label class="item item-input">
            <!--<textarea ng-model="formInputs.questionContent" rows="10" placeholder="Put your question here..."
            ></textarea>-->
            <div text-angular style="width: 100%;" ta-toolbar="[['bold','italics','html', 'insertImage','insertLink']]"
                 ng-model="formInputs.questionContent"></div>
          </label>
          <label class="item item-input">

                  <input type="text" ng-model="html"/><br/>
                  <!--<span mathjax-bind="expression"></span>-->
                  <div dynamic="html"></div>



          </label>
        </div>
    </div>
    <button type="submit" class="button button-balanced" ng-click="submit()">
      Submit
    </button>
    <button type="button" class="button button-dark">
      Reset
    </button>
  </ion-content>
</ion-view>
