<ion-view view-title="Ask question">
  <ion-content class="padding">
    <div class="list">
      <a class="item item-avatar" href="#">
        <img src="img/1441712212_andrew.png">
        <h2>User</h2>
        <p>Student MCA 3rd year</p>
      </a>
    </div>
    <div class="card">
      <div class="item item-positive item-divider">
        Ask your question
      </div>
      <div class="item item-text-wrap">
          <label class="item item-input item-select">
            <div class="input-label">
              Subject
            </div>
            <select>
              <option selected>Mathematics</option>
              <option>Other</option>
            </select>
          </label>
          <div class="item item-toggle">
            Is public?
            <label class="toggle toggle-dark">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>
          <label class="item item-input">
            <input type="text" placeholder="Question Title">
          </label>
          <label class="item item-input">
            <textarea rows="10" placeholder="Put your question here..." ></textarea>
          </label>
        </div>
    </div>
    <button type="submit" class="button button-balanced">
      Submit
    </button>
    <button type="submit" class="button button-dark">
      Reset
    </button>

<!--    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div> -->
  </ion-content>
</ion-view>
