
.left-nav {
	border-style: solid;
	border-right-color: green;
	border-right-width: 1px;
	padding-right: 5px;
	margin-top: 5px;
	
}

.left-nav-element {
	border-style: solid;
	border-bottom-color: red;
	border-bottom-width: 1px;
	
}

a {

}